<%= render partial:  "application_partials/headers", locals: { rec: @biosample_type } %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @biosample_type.name %></td>
  </tr>

  <tr>
    <th><strong>Tissue?</strong></th>
    <td><%= @biosample_type.tissue %></td>
  </tr>
</table>

<%= link_to 'Back', biosample_types_path %>
