<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @biosample_type.name %>
</p>

<%= link_to 'Edit', edit_biosample_type_path(@biosample_type) %> |
<%= link_to 'Back', biosample_types_path %>
