<!-- Uses grid layout; see gels.scss. -->
<ul class="gel-lane-headers gel-lane-headers-pcr list-unstyled"> 
  <li>Lane</li>
  <li>Upstream ID</li>
  <li>Biosample</li>
  <li>Load volume (µL)</li>
  <li>Concentration</li>
  <li>Expected size (KB)</li>
  <li>Needs more pcr.</li>
  <li>Pass</li>
  <li>Submitter comments</li>
  <li>Notes</li>
  <li>Actions</li>
</ul>
