<!-- Uses grid layout; see gels.scss. -->
<ul class="gel-lane-headers list-unstyled"> 
  <li>Lane</li>
  <li>Biosample</li>
  <li>Load volume (µL)</li>
  <li>Concentration</li>
  <li>Expected size (kDa)</li>
  <li>Actual size (kDa)</li>
  <li>Low target band intensity</li>
  <li>Needs mass spec.</li>
  <li>Pass</li>
  <li>Submitter comments</li>
  <li>Notes</li>
  <li>Actions</li>
</ul>
