<%= render partial:  "application_partials/header", locals: {rec: @data_file_type } %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @data_file_type.name %></td>
  </tr>
  
  <tr>
    <th><strong>Description:</strong></th>
    <td><%= @data_file_type.description %></td>
  </tr>
</table>

<%= link_to 'Back', data_file_types_path %>
