<header>
	<h1>Organisms</h1>

  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {model_class: Organism} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @organisms.each do |organism| %>
      <tr>
        <td><%= organism.name %></td>
        <td><%= link_to fa_icon("pencil"), edit_organism_path(organism) %></td>
        <td><%= link_to fa_icon("trash"), organism, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
