<%= simple_form_for(@sequencing_platform) do |f| %>
	<%= f.error_notification %>

  <%= f.input :name, label_html: {"data-toggle" => "tooltip", "title" => "Unique sequencing platform name"} %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary"%>
  </div></br>
<% end %>
