<%= simple_form_for(@sequencing_platform) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: { :f => f, :model_obj => @sequencing_platform } %>

  <%= f.input :name, label_html: {"data-toggle" => "tooltip", "title" => "Unique sequencing platform name"} %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary"%>
  </div></br>
<% end %>
