<header>
	<h1>Sequencing Platforms</h1>

  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {model_class: SequencingPlatform} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sequencing_platforms.each do |sequencing_platform| %>
      <tr>
        <td><%= link_to sequencing_platform.name, sequencing_platform %></td>
        <td>
					<%= link_to fa_icon("pencil"), edit_sequencing_platform_path(sequencing_platform) %>
        	<%= link_to fa_icon("trash"), sequencing_platform, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
