<%= simple_form_for(@isotype) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @isotype } %>

  <%= f.input :name, label_html: {"data-toggle" => "tooltip", "title" => "Unique isotype name"} %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
