<header>
	<h1>Isotypes</h1>

  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {model_class: Isotype} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @isotypes.each do |isotype| %>
      <tr>
        <td><%= link_to isotype.name, isotype %></td>
        <td><%= link_to fa_icon("pencil"), edit_isotype_path(isotype) %></td>
        <td><%= link_to fa_icon("trash"), isotype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
