<h1>New Crispr</h1>                                                                                    
<%= simple_form_for(@crispr) do |f| %>                                                                 
  <%= render partial: 'crispr_modifications/form', locals: {f: f} %>                                                        
  <%= render partial: "application_partials/submit", locals: {f: f} %>                                 
<% end %>                                                                                              
<%= link_to 'Back', crispr_modifications_path %> 
