<header>
	<h1>Editing Biosample</h1>
</header>
<%= simple_form_for(@biosample) do |f| %>
	<%= render partial: 'form', locals: {f: f} %>
	<%= render partial: "application_partials/submit", locals: {f: f} %>
<% end %>
<%= link_to 'Back', biosamples_path %>
