<h1>Editing biosample</h1>

<% documents = @biosample.documents %>
<% documents.each do |d| %>
<p><%= d.name %></p>
<% end %>
	
<%= render 'form' %>

<%= link_to 'Show', @biosample %> |
<%= link_to 'Back', biosamples_path %>
