<%= simple_form_for(@data_storage_provider) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @data_storage_provider } %>

  <%= f.input :name %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
