<header>
  <h1>Data Storage Providers</h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: DataStorageProvider} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @data_storage_providers.each do |rec| %>
      <tr>
        <td><%= rec.name %></td>
        <td>
					<%= link_to fa_icon("pencil"), edit_data_storage_provider_path(rec) %>
        	<%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
