<div id="select_plates_modal" class="modal">
	<div class="modal-content">
		<span class="close-modal"><%= fa_icon("window-close") %></span>
		<h3 class="display-3">Select Plates</h3>
		<%= simple_form_for @sequencing_request do |f| %>
			<%= f.association :plates, collection: @plates %>
			<div class="form-actions">
				<%= f.button :submit, "Add Plates", class: "btn-primary", input_html: {name: "sreq_add_plates_submit"}, input_html: {multiple: true} %>
			</div>
		<% end %>
	</div>
</div>
