<span><%= @user.api_key %></span><span>&nbsp&nbsp</span><%= link_to "Hide","#", id: "hide_api_key" %><span>&nbsp&nbsp</span><%= link_to "Remove", remove_api_key_user_path(@user), data: { confirm: "Delete API Key?"} %>
