<h1>Editing Pcr</h1>

<%= simple_form_for(@pcr) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= render partial: "application_partials/submit", locals: {f: f} %>
<% end %>

<%= link_to 'Back', pcrs_path %>
