<header>
  <h1>New Library</h1>
</header>
<%= simple_form_for(@library) do |f| %>
	<%= render partial: 'form', locals: {f: f} %>
	<%= render partial: "application_partials/submit", locals: {f: f} %>
<% end %>

<%= link_to 'Back', libraries_path %>
