<header>
	<h1>Welcome</h1>
</header>
<hr />

<h4>Documentation</h4>
<ul>
	<li><a href="https://github.com/nathankw/pulsar_lims/wiki">Wiki</a></li>
</ul>

<br>
<p>
For questions or comments, please contact:<br>
	<span style="padding-left: 2em;">Nathaniel Watson</span><br>
	<span style="padding-left: 2em;">nathankw@stanford.edu</span><br>
</p>
