<!-- This form POSTS naturally to the update action of the sequencing_requests controller. 
     The SequencingRequest model has a plate_ids=() method for adding new plates. 

     CSS for the modal logic is in application.scss. The modal class sets "display: none".
-->
<div class="modal"> 
  <div class="modal-content">
    <span class="close-modal"><%= fa_icon("window-close") %></span>
    <p><%= @caption %></p>
    <%= image_tag @image_url, style: "max-width: 100%;" %>
  </div>
</div>
