<div class="row" id="admin">
	<div class="col-md-9">
		<header>
			<h1>Admin</h1>
		</header>
		<p>Welcome to the Admin section.</p>
	</div>

	<div class="col-md-3">
		<h2>Admin Links</h2>
		<ul class="nav nav-stacked">
			<% content_for :users_badge do %>
				<span class="badge"><%= User.count %></span>
			<% end %>
			<li><%= link_to fa_icon("users") + " Users " + content_for(:users_badge),admin_users_path %></li>
		</ul>
	</div>
</div>
