<%= simple_form_for(@document_type) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @document_type } %>

  <%= f.input :name, label_html: {"data-toggle" => "tooltip", "title" => "Unique document type name"} %>

  <div class="actions">
		<%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
