<header>
	<h1>Document Types</h1>

	<ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {model_class: DocumentType} %>
	</ul>
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @document_types.each do |document_type| %>
      <tr>
        <td><%= link_to document_type.name, document_type %></td>
        <td><%= link_to fa_icon("pencil"), edit_document_type_path(document_type) %></td>
        <td><%= link_to fa_icon("trash"), document_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
