<%= render partial:  "application_partials/header", locals: {rec: @document_type } %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @document_type.name %></td>
  </tr>
</table>

<%= link_to 'Back', document_types_path %>
