<header>                                                                                               
  <h1>New Gel Image</h1>                                                                    
</header>

<%= render partial: "gel_images/form" %>
