<%= simple_form_for([@reference_genome,@chromosome]) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @chromosome } %>

  <%= f.input :name, label_html: {"data-toggle" => "tooltip", "title" => "Unique name"}  %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
