<%= render partial: "application_partials/header", locals: {rec: @chromosome, nested: @reference_genome} %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @chromosome.name %></td>
  </tr>

  <tr>
    <th><strong>Reference genome:</strong></th>
    <td><%= link_to @chromosome.reference_genome.name, @reference_genome %></td>
  </tr>
</table>

<%= link_to 'Back', reference_genome_path(@reference_genome) %>
