<%= simple_form_for(@antibody_purification) do |f| %>
	<%= f.error_notification %>

  <%= f.input :name %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
