<p>
  <strong>Name:</strong>
  <%= @antibody_purification.name %>
</p>

<%= link_to 'Edit', edit_antibody_purification_path(@antibody_purification) %> |
<%= link_to 'Back', antibody_purifications_path %>
