<h1>New PCR Validation</h1>
<%= simple_form_for(@pcr_validation) do |f| %>
  <%= render partial: 'pcr_validations/form', locals: {f: f} %>
  <%= render partial: "application_partials/submit", locals: {f: f} %>
<% end %>
