<%= render partial:  "application_partials/header", locals: {rec: @experiment_type } %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @experiment_type.name %></td>
  </tr>
</table>

<%= link_to 'Back', experiment_types_path %>
