<% if local_assigns[:nested].nil? %>
  <% nested = "" %>
<% end %>

<% record_class_hr = record.model_name.human.titleize %>
<% if policy(record).update? %>
	<% if nested.present? %>
		<li><%= link_to "Edit #{record_class_hr}", [:edit,nested,record], class: "edit" %></li>
	<% else %>
		<li><%= link_to "Edit #{record_class_hr}", [:edit,record], class: "edit" %></li>
	<% end %>
<% end %>
