<% record_class_hr = record.model_name.human.titleize %>
<% if policy(record).update? %>
	<li><%= link_to "Edit #{record_class_hr}", [:edit,record.model_name.to_s.underscore], class: "edit" %></li>
<% end %>
