<% if local_assigns[:nested].nil? %>
	<% nested = "" %>
<% end %>

<% record_class_hr = record.model_name.human.titleize %>
<% if policy(record).new? %>
	<% if nested.present? %>
		<li><%= link_to "New #{record_class_hr}", [:new,nested,record],  class: "new" %></li>
	<% else %>
		<li><%= link_to "New #{record_class_hr}", [:new,record],  class: "new" %></li>
	<% end %>
<% end %>
