<% if local_assigns[:nested].nil? %>
  <% nested = "" %>
<% end %>

<% if local_assigns[:scope].nil? %>
  <% scope = "" %>
<% end %>

<% record_class_hr = record.model_name.human.titleize %>
<% if policy(record).update? %>
  <% if nested.present? %>
    <% if scope.present ? %>
      <li><%= link_to "Edit", [:edit,nested,record, scope].flatten, class: "edit" %></li>
    <% else %>
      <li><%= link_to "Edit", [:edit,nested,record].flatten, class: "edit" %></li>
    <% end %>
  <% else %>
    <% if scope.present ? %>
      <li><%= link_to "Edit", [:edit,record, scope], class: "edit" %></li>
    <% else %>
      <li><%= link_to "Edit", [:edit,record], class: "edit" %></li>
    <% end %>
  <% end %>
<% end %>
