<!-- 
  This partial is usually used in show views. Looks similar to the _parental_and_self_fklinks partial,
  but that is meant to be used in form views as it allows for editing. 

  Args:
      1. links: An array of the foreign key associations of a particular attribute.
-->
<ul>
  <% unless links.blank? %>
    <% links.each do |l| %>
      <li>
        <%= link_to_record_id(l) %>
      </li>
    <% end %>
  <% else %>
    <li>None</li>
  <% end %>
</ul>
