
<!-- This is mean for showing the total number of records in an index view. The toal
     will be shown in the header tag. 

Args:
    1. records - An ActiveRecord_Relation.

-->

<!-- Doesn't work on arrays. Also, doesn't work on all subclasses of ActiveRecod::Relation, such as
     ActiveRecord_Associations_CollectionProxy, in which case the error you'll get is
     "undefined method `entry_name' for #<Library::ActiveRecord_Associations_CollectionProxy". One
     can manually specify the entry_name (model_name) via the entry_name parameter. -->
<% begin %>
  <% val = page_entries_info(records) %>
  <span class="index-view-total"><%= val %></span>
<% rescue Exception %>
  <span class="index-view-total"><strong>Total: </strong><%= records.count %></span>
<% end %>
