
<!-- This is mean for showing the total number of records in an index view. The toal
     will be shown in the header tag. 

Args:
    1. total - The number of records.

-->
<span style="position: absolute; bottom: 0; right: 0;" class="index-view-total"><strong>Total:</strong><%= " #{number_with_delimiter(total, delimiter: ",")}" %></span>
