
<!-- This is mean for showing the total number of records in an index view. The toal
     will be shown in the header tag. 

Args:
    1. records - An ActiveRecord_Relation.

-->
<span style="position: absolute; bottom: 0; right: 0;" class="index-view-total"><%= page_entries_info records%></span>
