<div class="xfade bg-info jumbotron">
  <%= simple_form_for(@chipseq_experiment, html: {style: "position: relative;"}) do |f| %>
    <%= f.association :replicate_ids, label: "Add replicates", collection: @selection %>
    <%= f.button :submit, "Update", class: "reg-btn" %>
    <%= link_to fa_icon("close lg"), "#", class: "xfade-out" %>
  <% end %>
</div>
