<!-- Add hidden element to serve as a status check for jQuery to know whether this record exists or not. -->
<% if @chip_batch_item.id.present? %>                                                                         
  <span style="display: none" id="chip-batch-item-persisted"></span>                                          
<% end %> 

<%= f.association :chip_batch, as: :hidden %>
<%= f.association :biosample %>
<%= f.input :concentration %>
<%= f.input :notes %>
