<%= render partial:  "application_partials/header", locals: {rec: @unit } %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @unit.name %></td>
  </tr>

  <tr>
    <th><strong>Type:</strong></th>
    <td><%= @unit.unit_type %></td>
  </tr>
</table>

<%= link_to 'Back', units_path %>
