/* Import all of Bootstrap's Css Components */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";
@import "responsive.scss";

@import "w3.css";

@import "admin/application";

#app-title {
	font-size: 1.3em;
}

#left-nav {
	h4 {
		display: inline-block;
		margin: 0;
		margin-bottom: 0.5em;
		padding: 0;
		border-bottom: 1px solid green;
	}
	ul {
		background-color: #f8f8f8;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul a {
		padding: 0;
		margin: 0;
	}
	background-color: #f8f8f8;
	padding-left: 1em;
	padding-top: 2em;
	width: 13%;
	margin-top: -1.5em;
}

.data-container {
	margin-left: 16%;
}

body {
	padding-top: 70px;
	padding-right: 3em;
}


header {
	@extend .page-header;
	position: relative;
	padding-bottom: 0px;
	
	&:first-child {
		margin-top: 20px;
	}
}

/*
header h1 {
	border: 2px solid red;
	width: 10%;
}
*/

#meta_attributes {
	border: 1px solid grey;
	border-bottom: 1px solid grey;
	@extend .table;
	width: 65%;

	th {
		width: 35%;
	}

	tr:first-child {
		td, th {
			border-top: 0px;
		}
	}

	td, th {
		line-height: 24px !important;
	}
}

#attributes {
	@extend .table;
	@extend .table-condensed;
	width: 65%;

	th {
		width: 35%;
	}

	tr:first-child {
		td, th {
			border-top: 0px;
		}
	}

	td, th {
		line-height: 24px !important;
	}
}

ul.actions {
	max-width: 75%;
	min-width: 50%;
	@extend .list-unstyled;
	@extend .list-inline;
}

a.new, a.edit, a.delete {
	@extend .btn;
	
	&:before {
		font-family: "FontAwesome";
		padding-right: 0.5em;
	}
}

a.new {
	@extend .btn-success;

	&:before {
		@extend .fa-plus;
	}
}

a.edit {
	@extend .btn-primary;

	&:before {
		@extend .fa-pencil;
	}
}

a.delete {
	@extend .btn-danger;

	&:before {
		@extend .fa-trash;
	}
}

.alert-notice {
	@extend .alert-success;
}

.alert-alert {
	@extend .alert-danger;
}

form {
	max-width: 55%;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
