/* Import all of Bootstrap's Css Components */

:root {
  box-sizing: border-box; 
}

@import "reset";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";
//@import "responsive.scss";

@import "admin/application";
@import "reference_genomes";
@import "libraries";
@import "plates";
@import "sequencing_library_prep_kits";

@media (max-width: $screen-xs-min) {
	body {
		font-size: 1.0em;
	}
}

@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
	body {
		font-size: 1.4em;
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	body {
		font-size: 1.4em;
	}
}


@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	body {
		font-size: 1.4em;
	}
}

@media (min-width: $screen-lg-min) {
	body {
		font-size: 1.6em;
	}
}

//Add some left margin to the refresh icons added after selection inputs (after the label)
i.refresh {
  @extend .btn;
  margin-left: 1em;
}

.celsius {
	&:after {
		content: " \2103";
    //2103 is the hexadecimal value of the UTF code point for the Celsius symbol.
    // See https://www.w3schools.com/charsets/ref_utf_letterlike.asp
	}
}

//Set class="td-spacing-2" to 'table' elements to set 1em padding top and bottom:
.td-spacing-2 tr td,th {
		padding-bottom: 2em;
}

// See defaults for tooltip in .rvm/gems/ruby-2.2.2/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap
.tooltip.in {
	opacity: 1.0;
}

.tooltip-inner  {
	font-size: 1.3em;
	color: black;
	//aquamarine
	background-color: rgb(127,255,212);
	max-width: 400px;
	text-align: left;
}

.fa-info-circle:hover {
	cursor: help;
}

.waiting * {
	cursor: progress;
}


/* 
Styles for the search
*/
.search, .search-btn {
  // Consists of search input field and search icon.
  // Want to make them look as one continuous element with icon at the right end.
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 34px;
	line-height: 1.5em;
	vertical-align: middle;
}

.search-btn {
	border: none;
	height: 30px;
  //Give height just enough so that the search icon doesn't touch the borders of the input.
}
/* 
End search box styles
*/


.modal {
		// Code from example at https://www.w3schools.com/howto/howto_css_modals.asp.
    display: none; // Hidden by default.
    position: fixed; // Stay in place.
    z-index: 10; // Sit on top. I found out that the active element in the left-hand navbar has a z-index of 2.
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; // Enable scroll if needed
    background-color: rgb(0,0,0); // Fallback color
    background-color: rgba(0,0,0,0.4); // Black w/ opacity
}	

.modal-content {
		// Code from example at https://www.w3schools.com/howto/howto_css_modals.asp.
    background-color: #fefefe;
    width: 80%; // Could be more or less, depending on screen size.
    margin: 15% auto; // 15% from the top and centered.
    padding: 20px;
    border: 1px solid #888;
}

.close-modal {
		// Code from example at https://www.w3schools.com/howto/howto_css_modals.asp.
		// class of span tag I often use in a model.
		color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
		&:hover, &:focus {
			color: black;
			cursor: pointer;
		}
}

.back-btn {
	display: inline-block;
	margin-top: 2em;
}

.jumbotron {
	padding-top: 1em;
	padding-bottom: 1em;
}

.bg-info.jumbotron {
	@extend .bg-info;
}

.map-img {
	width: 100%;
}

.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding-left: 0.2em;
  color:   white;
  display: none;
}

table.attributes i.fa-pencil {
	margin-right: 1em;
}

label.radio_buttons {
	margin-right: 15px;
}

/* the .form-group is the class rails/simple-form gives to inputs. */
.form-group {
	max-width: 60%;
}


fieldset {
  padding: 1em;
  max-width: 60%;
  margin-bottom: 2.0em;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.40);
}

fieldset div.form-group {
  max-width: 100%;
}


select:focus, input:focus, textarea:focus {
  background-color: #FFFFCC; 
}


input.search:focus + .search-btn {
    //Set background color of main search icon (search form on all pages) to same color as input's new background color (above style) when in focus.
    // Otherwise, it'll stay white on yellow background. 
	  background-color: #FFFFCC;
}

#app-title {
  font-size: 1.3em;
}

#mytogglelist {
	li.encode-logo a {
		margin: 0;
		padding: 0;
		img {
			background-color: white;
			height: $navbar-height;
		}
	}
 .active a {
		background-color: #8C1515;
	} 
	a:hover {
		background-color: rgba(0,0,0,0.2);
	}
}

#sign-out-btn {
	a:hover {
		background-color: rgba(0,0,0,0.2);
	}
}

.navbar-fixed-top {
  background-color: #8C1515;
  .container-fluid .navbar-header span, .container-fluid .collapse li a, .navbar-right span {
    color: #fbfbf9;
  }
  i {
    color: #fbfbf9;
  }
}

html {
  height: 100%;

  body {
    height: 100%;
  }
}

body { 
  background-color: #ddd;
  padding: 0;
}

.everything {
  // Center
  max-width: 1350px;
  margin: 0 auto;
}

.main {
  border-radius: 0.2em; 
	margin-top: 100px;
  padding-top: 2em;
	//margin-top: calc(3 * $navbar-height); //doesn't work with variables.
  background-color: white;
}

.main-body {
  padding-left: 3em;
}

#footer {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0.8em;

  .navbar-right {
    margin: 0;
    padding: 0;
  }
}

.sidebar {
  padding-left: 0;
  margin: 0;
  .navbar-fixed-side {
    padding: 0;
    margin: 0;
  }

  ul {
		width: 100%;
		padding-left: 1em;
		padding-right: 1em;
		margin-top: 0.6em;
    margin-bottom: 0;
    padding-bottom: 0; 
		&:last-child {
			padding-bottom: 1.0em;
		}
    a { 
      font-size: 0.8em;
    }
  }
}

.data-container {
  padding-right: 1em;
}

ul.actions {
	//in the header of each show view
	@extend .list-unstyled;
	@extend .list-inline;
	margin-bottom: 2em;
}
		
#meta_attributes {
  border: 1px solid grey;
  @extend .table;
  @extend .table-condensed;
  width: 65%;

  th {
    width: 35%;
  }

  tr:first-child {
    td, th {
      border-top: 0px;
    }
  }

  td, th {
    line-height: 24px !important;
  }
}

.attributes, .table-data {
	@extend .table;
  @extend .table-hover;
  @extend .table-condensed;
  @extend .table-responsive;
  //Set 'display: block' below, otherwise the table cells can extend past the container in the index views.
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  
  

  thead tr:first-of-type {
    th {
      border-top: 0px;
    }
	}

	td, th {
    line-height: 24px !important;
  }
}

//.attributes tbody th {
	//The <th> tags in the show views (not the index views) can take up way too much space, with the header value all the way on the left and the <td> value all the way on the right.
	// This fixes that for the show views. Not sure why 'max-width' property doesn't have any effect here; only the 'width' property appears to. 
//	width: 15%;
//}

.plate-table {
	/* see additional styles selecting elements in this table in plates.js.coffee */
	@extend .table-data;
	@extend .table-bordered;
	th {
		font-size: larger;
	}
}

a.new, a.edit, a.delete {
  @extend .btn;
  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

.reg-btn {
	@extend .btn;
	@extend .btn-default;
	background-color: #DCDCDC;
}

a.new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.clone {
  @extend .btn;
  color: white;
  background-color: #a16bc2;
  &:before {
    @extend .fa-clone;
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}
  

a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

//form {
 // max-width: 85%;
//}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.edit-notes-pencil {
  cursor: pointer;
}
