//#

.gel-lane-form-immunoblot, .gel-lane-headers-immunoblot {
  display: grid;
  grid-gap: 0.5em;
  margin: 0;
  padding: 0;
  grid-template-columns: 3em 7em 12em 8em 10em repeat(4, 8em) repeat(2, 15em) 4em;
  align-items: center;
}

.gel-lane-form-pcr, .gel-lane-headers-pcr {
  display: grid;
  grid-gap: 0.5em;
  margin: 0;
  padding: 0;
  grid-template-columns: 3em 7em 12em 8em 10em repeat(3, 8em) repeat(2, 15em) 4em;
  align-items: center;
}

.gel-lane-headers {
  border: none;
  & > * {
    font-weight: bold;
  }
}

.gel-lane-form {
  transition: background-color, 1.0s;
  float: left;
  & > div > * {
    padding: 0;
    padding-left: 0.5em;
    margin: 0;
  }
  & > div {
    margin: 0;
    padding: 0;
    border: 1px solid #d9d9d9;
    border-right: none;
    border-radius: 0.2em;
    &:last-of-type {
      border: none;
    }
    width: 100%;
    min-width: 100%;
    & textarea {
      min-height: 5em;
    }
  }
}
