// Place all the styles related to the Libraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#library_nucleic_acid_starting_quantity_units {
	display: inline-block;
	max-width: 12em;
}

div.add_barcodes {
  max-width: 35em;
  padding-top: 0.5em;
  padding-left: 0.5em;
}
