// Place all the styles related to the plates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#plate_num_rows, #plate_num_cols {
	width: 3em;
}

div.add_barcodes {
	max-width: 100%;
	
	& form {
		max-width: 100%;
	}

	& .form-group {
		max-width: 100%;
	}

  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;

	& input {
		font-family: Courier, monospace;
	}
}
