// Place all the styles related to the ReferenceGenomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.chromosomes {
	text-align: center;
  max-width: 15em;
  padding-top: 0.5em;

  & th, & td {
    text-align: center;
  }
}
