// Place all the styles related to the sequencing_library_prep_kits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.barcodes {
	text-align: center;
  padding-top: 0.5em;

	& th, & td {
		text-align: center;
	}
}


