// Place all the styles related to the sequencing_results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#barcode_results {
	@extend: .table;

	background-color: #F8F8F8;
	border: 2px solid blue;

	tr {
		border-top: 1px solid black;
	}

	th {
		text-align: center;
		border-right: 0.5px solid grey;
	}
	th:last-child {
		border-right: none;
	}
}

#barcode_seq_res_table { 
		border: 2px solid #FFC2DF;
}
