// Place all the styles related to the sequencing_results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#library_results {
	tr, th, td, form, option, input, select, textarea {
		padding: 0px;
		margin: 0px;
	}

	background-color: #F8F8F8;
	border-color: "grey";

	th {
		text-align: center;
		border-right: 0.5px solid grey;
	}
	th:last-child {
		border-right: none;
	}
}

#lib_seq_res_table { 
		border: 2px solid #FFC2DF;
}
