<header>
	<h1>Users</h1>
	
	<ul class="actions">
		<li>
			<%= link_to "New User", new_admin_user_path, class: "new" %>
		</li>
	</ul>
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>User</th>
			<th>Role</th>
      <th>Last Sign-in</th>
    </tr>
  </thead>
  <tbody>
     <%= render partial: "user_table_row", collection: @admins, as: :user %>
     <%= render partial: "user_table_row", collection: @users, as: :user %>
     <%= render partial: "user_table_row", collection: @archived, as: :user %>
  </tbody>
</table></br>
