<header>
	<h1>Users</h1>
	
	<ul class="actions">
		<li>
			<%= link_to "New User", new_admin_user_path, class: "new" %>
		</li>
	</ul>
</header>

	
<h4>Admins</h4>
<%= render partial: "role_table", locals: {role_category: "Admins", users: @admins} %>

<h4>Managers</h4>
<%= render partial: "role_table", locals: {role_category: "Managers", users: @admins} %>

<h4>Archived</h4>
<%= render partial: "role_table", locals: {role_category: "Archived", users: @admins} %>
