<ul class="chip-batch-item-headers list-unstyled"> 
  <li>Biosample</li>
  <li>Library</li>
  <li>Library.barcode</li>
  <li>Library.antibody</li>
  <li>Concentration</li>
  <li>Notes</li>
  <li>Actions</li>
</ul>
