<div class="jumbotron bg-info" id="new_sequencing_result_form" style="padding: 8px;border: 2px solid grey;">
  <fieldset style="width: 60%;">
    <%= content_tag :legend do %>
      New Library Sequencing Result <%= link_to fa_icon("remove"),"boby", id: "rm_new_sequencing_result_form" %>
    <% end %>
  <%= yield %>
  </fieldset>
</div>
